<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make A Post</title>
    <%- include("./templates/head.ejs")  %>
    <link rel="stylesheet" href="/stylesheets/authStyle.css">
</head>
<body style="justify-content:start;">
    <h1>Weaving Lies OR Sharing Stories?</h1>
    <%- include("./templates/backArrow.ejs") %>
    <% if (typeof(errorMessage) !== "undefined") { %>
        <p class="error"><%= errorMessage %></p>
    <% } %>
    <form id="containerForm" class="highlight" action="/feed/post/add" method="post">
        <label class="formItem" for="inputTitle">Post Header</label>
        <input id="inputTitle" type="String" name="title">
        
        <label class="formItem" for="inputContent">Main text</label>
        <input id="inputContent" type="String" name="content">
        
        <label class="formItem" for="inputTags">What Tags go with this post?</label>
        <input id="inputTags" type="String" name="tags">
        
        <label class="formItem" for="inputNSFW">Is It NSFW?</label>
        <input id="inputNSFW" type="checkbox" name="nsfw">
        
        <label class="formItem" for="inputTrueFalse">Is it True?</label>
        <input id="inputTrueFalse" type="checkbox" name="trueFalse">
        
        <%- include("./templates/submitArrow.ejs") %>
    </form>
</body>
</html>