<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <script defer src="/scripts/feedInfiniteScroll.js"></script>
    <link rel="stylesheet" href="./stylesheets/feedStyle.css">
</head>
<body>
    <div id="sideMenu" >
        <div id="menuElements" >
            <a href="/profile/<%= user._id %>">Your Profile</a>
            <a href="/auth/sign-out">Sign Out</a>
        </div>
        <div id="menuToggle">
        </div>
    </div>
    <header>
        <h1 id="pageTitle" >Gaslyte</h1>
    </header>
    <main id="mainFeed">

    </main>
</body>
</html>