<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <%- include("./templates/head.ejs")  %>
    <script defer src="/scripts/feedInfiniteScroll.js"></script>
    <link rel="stylesheet" href="./stylesheets/feedStyle.css">
</head>
<body>
    <div id="sideMenu" >
        <div id="menuElements" >
        <% if (user._id) { %>
            <a href="/profile/<%= user._id %>">
                <img id="authIcon" src="/images/authIcon.png"/>
                <h4>Your Account</h4>    
            </a>
            <!-- <form hidden method="" id="filterForm">
                <label for="filterInput">Filter</label for="filterInput">
                <select id="filterInput" name="filter">
                    <option selected value="newest">Newest</option>
                    <option value="oldest">Oldest</option>
                </select>
                <div id="nsfwDiv">
                <label for="nsfwToggle">NSFW Content</label>
                <input id="nsfwToggle" type="checkbox" name="nsfwValue">
            </div>
            <button type="submit">Apply</button> -->
        </form>
        <a href="/feed/post/add">
            <img id="authIcon" src="/images/penIcon.png"/>
            <h4>Make A Post</h4>    
        </a>
            <a href="/auth/sign-out">
            <img id="authIcon" src="/images/signOutIcon.png"/>
            <h4>Sign Out</h4>    
        </a>
        <% } else { %>
            <a href="/auth/sign-in">
                <img id="authIcon" src="/images/authIcon.png"/>
                <h4>Sign In</h4>
            </a>
        <% } %>
            </div>
        <svg id="menuToggle">
            <polygon class="menuToggleElement" points="6,12 108,30 108,210 6,228"/>
            <circle r="7" cx="40" cy="75" fill="#9d69a3" />
            <circle r="7" cx="40" cy="105" fill="#9d69a3" />
            <circle r="7" cx="40" cy="135" fill="#9d69a3" />
            <circle r="7" cx="40" cy="165" fill="#9d69a3" />
            <circle r="7" cx="80" cy="75" fill="#9d69a3" />
            <circle r="7" cx="80" cy="105" fill="#9d69a3" />
            <circle r="7" cx="80" cy="135" fill="#9d69a3" />
            <circle r="7" cx="80" cy="165" fill="#9d69a3" />
        </svg>
    </div>
    <header>
        <h1 id="pageTitle" >Gaslyte</h1>
    </header>
    <main id="feedContainer">
        <div id="mainFeed">
        </div>
        <div id="loadingElement">
        </div>
    </main>
</body>
</html>