<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Page</title>
    <%- include("./templates/head.ejs") %>
</head>

<body>
    <div class="highlight">
        <%- include("./templates/backArrow.ejs") %>
            <h1>WHY WOULD YOU BREAK MY WEBSITE!</h1>
            <p>It's just a 404 chill. I'm not mad, I'm just dissapointed ;-;</p>
    </div>
</body>

</html>