<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% if (errorMessage) { %>
        <h3 class="error">
            <%= errorMessage %>
        </h3>
        <% } %>
            <form method="POST" action="/auth/sign-in">
                <lable for="username">Username</lable>
                <input id="username" name="username" type="String">
                <lable for="password">Password</lable>
                <input id="password" name="password" type="password">
                <lable for="submit">Submit</lable>
                <input id="submit" type="submit">
            </form>
</body>

</html>