<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <%- include("./templates/head.ejs")  %>
    <link rel="stylesheet" href="/stylesheets/authStyle.css">
</head>

<body>
    <% if (typeof(errorMessage) !=="undefined" ) { %>
        <h3 class="error">
            <%= errorMessage %>
        </h3>
        <% } %>
            <div id="containerMain" class="highlight">
                <a href="/auth/sign-in">Already have an account? Sign In</a>
                <form id="containerForm" method="POST" action="/auth/sign-up">
                    <lable class="formItem" for="username">Username</lable>
                    <input id="username" name="username" type="String">
                    <lable class="formItem" for="profileName">Profile Name</lable>
                    <input id="profileName" name="profileName" type="String">
                    <lable class="formItem" for="password">Password</lable>
                    <input id="password" name="password" type="password">
                    <lable class="formItem" for="passwordCheck">Password Check</lable>
                    <input id="passwordCheck" name="passwordCheck" type="password">
                    <lable class="formItem" for="submit">Submit</lable>
                    <input id="submit" type="submit">
                </form>
            </div>
            <div id="spacer"></div>
</body>

</html>