
 <a href="/feed"><div class="backArrow" style="display:flex; justify-content: space-around; align-items: center; width:70px; border-radius: 25px; border:1px solid crimson; aspect-ratio: 2/1; background-color: red;"><span style="font-weight: bolder;">BACK</span></div></a>
