<div class="highlight">
    <div>
        <div id="mainContent">
            <h2>
                <%= post.title %>
            </h2>
            <p>
                <%= post.content %>
            </p>
        </div>
        <div>
            <div id="postUser">
                <h4>
                    <%= user.profileName %>
                </h4>
                <p>
                    <% post.tags.forEach(tag=> { %>
                        <span>
                            <%= tag %>,
                        </span>
                        <% }) %>
                </p>
            </div>
        </div>
    </div>
    <div hidden id="interactionSection">
        <div hidden id="likingDiv" class="interactionDiv">
            <p hidden >liked</p>
        </div>
        <div hidden id="votingDiv" class="interactionDiv">
            <p hidden >voted</p>
        </div>
    </div>
</div>