<div>
    <div>
        <div id="mainContent">
            <h2><%= post.title %></h2>
            <p><% post.content %></p>
        </div>
        <div>
            <div id="postUser">
                <h4><%= user.profileName %></h4>
                <p>
                <% post.tags.forEach(tag => { %>
                 <span><%= tag %>, </span>
                <% }) %>
            </p>
            </div>
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.m.wikipedia.org%2Fwiki%2FFile%3AExample_image.svg&psig=AOvVaw0ykn4gGOCTZyf1vsDo6nzL&ust=1721227600889000&source=images&cd=vfe&opi=89978449&ved=0CBEQjRxqFwoTCIjdzt3mq4cDFQAAAAAdAAAAABAE">
        </div>
    </div>
    <div id="interactionSection">

    </div>
</div>