body{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

#containerMain{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#containerForm{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height:150px;
}

.formItem{
    margin:6px 0px 2px 0px;
}

#spacer{
    min-height: 30vh;
}