#menuToggle{ 
    shape-rendering:geometricPrecision;
    width:120px;
    height: 240px;
    transform-origin: 0 0;
    transform: scale(0.3);
}

.menuToggleElement {
    stroke: #9d69a3;
    stroke-width: 10px;
    fill: #cdfff8;
}

#sideMenu{
    display:flex;
    position: fixed;
    top: 50px;
    left: 0;
    transform: scale(1.3);
    transform-origin: 0 0;
}

#menuElements{
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 150px;
    aspect-ratio:2/1;
    background-color: #cdfff8;
    outline: #9d69a3 solid 3px;
}

#authIcon { 
    width: 20%;
    aspect-ratio: 1/1;
}

a {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a , h4 {
    color: Black;

}

#interactionSection{
    width:90%;
    height:10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#feedContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#mainFeed{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#pageTitle{
    font-size: x-large;
    font-weight: bold;
}

.interactionDiv{
outline: 2px #163f6e6e solid;
border-radius: 6px;
padding: 5px;
width: auto;
height:min-content;
}

#loadingElement {
    display:none;
    border: 6px solid #cdfff8;
  border-radius: 50%;
  border-top: 6px solid #9d69a3;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }