body{
    background-color: #d4ffe2;
}
input{
    background-color: #ecf0f1;
    border: 0px;
    border-radius: 3px;
    color: #2b2d42;
    outline:none;
}

input:focus, input:hover{
    border: 2px solid #f8c630;
}

.highlight{
    background-color: #cdfff8;
    width: fit-content;
    padding: 40px;
    border:solid 2px #9d69a3;
    border-radius: 6px;
    margin: 50px;
}

.error{
    font: bold 30px;
    color: rgb(255, 37, 81);
    background-color: rgba(216, 78, 105, 0.5);
    padding: 15px;
    width:fit-content;
    outline: solid crimson 2px;
    border-radius: 3px;
    margin: 30px;
}